<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Test" connectionString="test connection string "/>
  </connectionStrings>
  <appSettings>
    <add key="IsSecure" value="True" />
    <add key="Login" value="login_1" />
    <add key="Password" value="password_1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
